.thumbnail {
    max-width: 150px;
    height: auto;
}

.total-favorites {
    position: fixed;
    top: 80px;
    right: 1280px;
    background-color: #007bff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 80%;
    margin-right: 60px;
}
.logo {
    width: 50px;
    height: 50px;
}

.logo1 {
    margin-right: 1280px;
    margin-top: -5px;
    position: fixed;
    padding: 5px 10px;
    text-align: right;
    right: 20px;
    border-radius: 80%;
}
.btn btn-primary{
    text-align: right;
    margin-right: 300px;
}
/* CSS cho nút Giỏ hàng */
.giohang {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 60px;
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.giohang:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}
.yeuthich{
    margin: 10px;
    display: inline-block;
    padding: 10px 100px;
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.yeuthich:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}
.logo2 {
    margin-top: -5px;
    position: fixed;
    padding: 5px 10px;
    text-align: right;
    right: 20px;
    border-radius: 80%;
}
.tong{
    position: fixed;
    top: 80px;
    right: 60px;
    background-color: #007bff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 80%; 
}
.tan{
    height:250px;
}
body {
    position: relative; /* Đặt vị trí là relative để có thể sử dụng z-index */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapertag.com/wallpaper/full/8/e/e/143322-vertical-white-glitter-background-1920x1080-for-4k.jpg');
    background-size: cover; /* Sử dụng cover để đảm bảo ảnh nền đầy đủ kích thước */
    z-index: 0; /* Đặt z-index cho body */
    animation: snow 50s linear infinite;
}
#banner {
    width: 100%;
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
    z-index: 1;
}

#banner .box-left ,#banner .box-right {
    z-index: 1;
    width: 50%;
}

#banner  .box-left h2 {
    margin-left: 80px;
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    margin-left: 80px;
    color:#D0D0D0;
}

#banner .box-left button {
    margin-left: 80px;
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    z-index: 1;
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    z-index: 0;
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

.to-bottom img{
    margin-top: 50px;
    padding: 5px 5px;
    width: 1150px;;
    height: 550px;
}
.row img{
    border-radius: 20px 20px 0px 0px;
}
.nuong{
    display:flex;
    margin-top: 40px;
}
 .sl1{
    
    margin: 10px 10px 10px 50px;
}
.sl2{
    margin: 10px 10px 10px 190px;
}
.sl3{
    margin: 10px 10px 10px 210px ;
}
.sl4{
    margin: 10px 10px 10px 210px;
}
.nuong2{
    
    display: flex;
}
.nuong2 img{
    margin-left: 50px;
    width: 80%;
    height: 100px;
}